name: Playwright Tests
on:
  workflow_dispatch:

jobs:
  test:
    name: Run Playwright Tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    container: 
      image: mcr.microsoft.com/playwright:v1.56.1-noble
      options: --user root
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Run Playwright tests
      run: npx playwright test
      env:
        CI: true
        CI_COMMIT_BRANCH: ${{ github.ref_name }}
        CT_TOKEN: ${{ secrets.CT_TOKEN }}
        CT_SERVER_URL: ${{ vars.CT_SERVER_URL }}
        HOME: /root
